<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
    {% if site.favicon %}
    <link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}">
    {% endif %}
    {% if site.google_site_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
    {% endif %}
    {% if site.google_analytics %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
</head>
<body>
    {{ content }}
</body>
</html> 